#DoorHitBox {
	width: 25vw;
	height: 36vw;
	position: absolute;
	top: 6vw;
	right: 18vw;
}

canvas {
	width: 80%;
	height: auto;
}

HTML {
	background-color: black;
}

#TeethHitBox {
	position: absolute;
	top: 35vw;
	left: 18vw; height : 100px;
	width: 25px;
	height: 60px;
}