div {
	width: 12.5%;
	color: gray;
	float: left;
}

div:before, div:after {
	content: '';
	display: block;
	padding-top: 50%;
}


.schwarz {
	background-color: black;
	color: white;
	line-height: 0;
	text-align: center;
}

.weis {
	background-color: gray;
	color: black;
	line-height: 0;
	text-align: center;
}

section {
	width: 1500px;
}

